a {
  text-decoration: none;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
  text-align: center;
  color: navy;
  font-weight: bolder;
  font-variant-caps: small-caps;
}
.main {
  /*margin-top: 17%;*/
  margin-top: 110px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  color: navy;
}

.navbar {
  z-index: 9999;
  top: 0; /*keep navbar at top*/
  position: fixed;
  overflow: hidden;
  width: 100%;
  /*margin: 2;*/
  background-color: cadetblue;
  display: flex;
  color: navy;
  /*
  align-items: center;
  justify-content: center;*/
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  /*display: inline-flexbox; */
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: bolder;
  color: navy;
  /*font-variant: small-caps;*/
}

ul {
  font-family: "Merriweather", serif;
  display: block;
  font-size: 26px;
  /*font-variant: small-caps;*/
  font-weight: bolder;
}
nav li {
  display: inline;
  border-right: 4px solid #bbb;
}
nav li:last-child {
  border-right: none;
}
.navbar a {
  /*display: inline-block;*/
  display: inline;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
.navbar a:visited {
  color: rgb(166, 241, 166);
}
.navbar a:hover {
  font-size: 32px;
  background-color: lightgreen;
  /*padding: 3px;*/
  color: cadetblue;
}

.navbar a:active {
  background-color: rgb(245, 223, 194);
}

/* .container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.caps {
  font-variant: small-caps;
}

/*Home Page Link Sections*/
.home {
  position: relative;
  left: 10%;
  background-color: lightsteelblue;
}
.aboutMe {
  position: relative;
  left: 30%;
  background-color: lightslategray;
}
.skillsExp {
  position: relative;
  left: 10%;
  background-color: rgb(245, 223, 194);
}

.portfolio {
  position: relative;
  left: 30%;
  background-color: lightslategray;
}
.contact {
  position: relative;
  left: 10%;
  background-color: lightsteelblue;
  /* background-color: rgb(109, 155, 255);*/
  text-decoration: none;
}
/*About Page*/
.topperAbout {
  background-image: url("projectImages/orangeTulips.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 36em;
  width: auto;
  background-color: rgba(165, 201, 204, 0.6);
  background-blend-mode: lighten;
  font-size: 25px;
  color: navy;
  font-weight: bolder;
}
.centered {
  padding-top: 10%;
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: justify;
}
/*Skills Page*/

.hide {
  display: none;
}

.seeMore:hover + .hide {
  display: block;
  color: lightgreen;
}
.skillSet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: rgb(3, 1, 15);
  font-size: larger;
  background-color: #dfdbe5;
  background-color: #a8b1bb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2373a2c2' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.box {
  font-size: xx-large;
  padding: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #73a2c2;
  height: 400px;
  width: 40%;
  margin: 20px;
  font-family: "Merriweather", serif;
  color: navy;
}
/*Portfolio Page*/
.portfolioTopper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: rgb(3, 1, 15);
  font-size: larger;
  background-color: #c7d6d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2345525e' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/*Contact Me Page*/
.contactLinks {
  margin-right: 25px;
}

/*.contactTopper {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  background-color: rgb(169, 236, 238, 0.5);
  background-image: url("projectImages/leaf.jpg");
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 45em;
  width: auto;
  text-align: center;
  font-size: 25px;
  color: navy;
  font-weight: bolder;
} */
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 20px;
  color: navy;
  text-align-last: right;
}
/*make design responsive*/
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .topperAbout {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .topperAbout {
    font-size: 42px;
    height: 42em;
  }
}
@media only screen and (min-width: 2300px) {
  .topperAbout {
    font-size: 60px;
    height: 45em;
  }
  ul {
    font-size: 40px;
  }
  .main {
    font-size: 50px; /*font size not changing*/
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 3400px) {
  .topperAbout {
    font-size: 70px;
    height: 55em;
  }
  ul {
    font-size: 50px;
  }
}
